@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pacifico&display=swap');

header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    line-height: 75px;
    border: solid 1 px lightpink;
}

#logo {
  font-family: 'Pacifico', cursive;
  color: lightpink;
  text-decoration: none;
  text-decoration-line: none;
  line-height: 40px;
  font-size: 40px;
}
#navbar {
    display: flex;
    color: lightpink;
    text-decoration: none;
    font-size: 20px;
}
#navbar li {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
a {
    color: lightpink;
    margin: 10px;
    line-height: 75px;
    text-decoration: none;
    
}
#img {
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    
}
#info-h2 {
    display: flex;
    color: lightpink;
    justify-content: center;
    justify-items: center;
}
#info-p {
    display: flex;
    color: lightpink;
    margin: 30px;
    padding: 20px;
    font-size: 20px;
}
#info-h2 > #info-p > h2 {
    color: lightpink;
}
#infodiv {
    color: lightpink;
}
#choice-contain {
    display: flex;
    border: 1px solid lightpink;
    margin: 5px;
}
#a-c {
    background-color: lightpink;
    color: antiquewhite;
    padding: 0;
}
#choice-contain:hover {
    box-shadow: 2px 3px lightpink;
    cursor: pointer;
}